{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/common.css')}}"></link>
{% endblock %}

{% block content %}

  {{ lib.panel_begin('Strategy Compare') }}

  {% block charts %}
  <div class="panel panel-default" style="margin-bottom:0">
    <div class="panel-heading" style="font-size: 1.7em;">Management Strategy Comparison - Essential Figures</div>
    <div class="panel-body" id="cmpDiv" data-differences="{{differences_str}}" data-mseNames="{{mseNames}}" data-mseSingleLists="{{mseSingleLists}}" data-mseComp="{{mseComp}}" data-scenarios="{{scenarios}}">
      <div id="section1" class="row acc-wizard">
          <div class="col-md-3" style="padding-left: 2em;">
              <h3>
                  Essential Figures:
              </h3>
              <p style="margin-bottom: 1em;">Section 1: Basic Comparison</p>
              <ol class="acc-wizard-sidebar">
                  <li class="acc-wizard-todo"><a href="#totalCatch">Total Catch</a></li>
                  <li class="acc-wizard-todo"><a href="#ssbGulfPanel">Total SSB</a></li>
                  <li class="acc-wizard-todo"><a href="#catch20Panel">Catch for 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#annualCatch20Panel">Annual Catch for 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#terminalSSB">Terminal SSB after 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#lowestSSB">Lowest SSB during 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#percentGreenPanel">Percentage to Green 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#radar1">General Performance Measures 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#totalDiscards">Discard 20-Year Management</a></li>
                  <li class="acc-wizard-todo"><a href="#varDiscards">Annual Discard Variation, 20-Year Management</a></li>

              </ol>
          </div>

          <div class="col-md-9" style="padding-right: 2em;padding-top:20px;">
              <div id="section1Fig-pannel" class="panel-group">
                  <div class="panel panel-default" style="padding-top: 1px;padding-left:1px">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#totalCatch" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Total Catch
                              </a>
                          </h4>
                      </div>
                      <div id="totalCatch" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="catchChart" class="echart-size">
      </div>
<p style="padding:20px">The comparison of the median total catches during the projection period.</p>
      </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#ssbGulfPanel" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Total SSB
                              </a>
                          </h4>
                      </div>
                      <div id="ssbGulfPanel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="SSBGulf" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the median total spawning stock biomass (SSB) during the projection period.</p>
       </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#catch20Panel" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Catch for 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="catch20Panel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="catch20" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the 20-year catches.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#annualCatch20Panel" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Annual Catch Variations for 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="annualCatch20Panel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="annualCatch20" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the 20-year annual catch variations.</p>
<p style="padding:20px">Note: CV means Coefficient of Variation.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#terminalSSB" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Terminal SSB during 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="terminalSSB" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="terminalChart" class="echart-size">
      </div>
<p style="padding:20px">The comparison of the spawning stock biomass after the management (Terminal SSB).</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#lowestSSB" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Lowest SSB during 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="lowestSSB" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="lowestChart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the lowest spawning stock biomass during the management period (Lowest SSB).</p>
                      </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#percentGreenPanel" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Percentage to Green 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="percentGreenPanel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="percentGreen" class="echart-size">
      </div>
         <p style="padding:20px">The comparison of the median percentage of time that the fishery achieves the “Green” stock status during the management period.</p>
   <p style="padding:20px">Note: “Green” indicates the desired stock status in the long term.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#radar1" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  General Performance Measures 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="radar1" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="radarChart_1" class="echart-size">
      </div>
        <p style="padding:20px">The comparison of the general performance measures during the 20-Year Management.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#totalDiscards" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Discard 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="totalDiscards" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="totalDiscardsChart" class="echart-size">
                              </div>
        <p style="padding:20px">The comparison of the 20-year discards.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#varDiscards" data-parent="#section1Fig-pannel" data-toggle="collapse">
                                  Annual Discard Variation, 20-Year Management
                              </a>
                          </h4>
                      </div>
                      <div id="varDiscards" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="varDiscardsChart" class="echart-size">
                              </div>
        <p style="padding:20px">The comparison of the 20-year annual discard variations.</p>
        <p style="padding:20px">Note: CV means Coefficient of Variation.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->
              </div>
          </div>
      </div>

      <div id="section2" class="row acc-wizard">
          <div class="col-md-3" style="padding-left: 2em;">
              <h3>
                  Other Detailed Figures:
              </h3>
              <p style="margin-bottom: 1em;">Section 2: Sector Comparison</p>
              <ol class="acc-wizard-sidebar">
                  <li class="acc-wizard-todo"><a href="#commCatch">Commercial Catch</a></li>
                  <li class="acc-wizard-todo"><a href="#fedCatch">For-hire Catch</a></li>
                  <li class="acc-wizard-todo"><a href="#privateCatch">Private Angling Catch</a></li>
                  <li class="acc-wizard-todo"><a href="#ssbFirst">Total SSB, Ave of First 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#ssbLast">Total SSB, Ave of Last 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#barRotation">Catches for Federal For-hire and Private Angling Sectors in the First and Last 5 Years</a></li>
                  <li class="acc-wizard-todo"><a href="#stateCatchFirstPanel">State Private Angling Catch, Ave of First 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#stateCatchLastPanel">State Private Angling Catch, Ave of Last 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#stateSeasFirstPanel">State Private Angling Season Length, Ave of First 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#stateSeasLastPanel">State Private Angling Season Length, Ave of Last 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#catchFirst">Total Catch, Ave of First 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#catchLast">Total Catch, Ave of Last 5-Year</a></li>
                  <li class="acc-wizard-todo"><a href="#commDiscards">Commercial Discards</a></li>
                  <li class="acc-wizard-todo"><a href="#recrDiscards">Recreational Discards</a></li>

              </ol>
          </div>

          <div class="col-md-9" style="padding-right: 2em;padding-top:20px;">
              <div id="section2Fig-pannel" class="panel-group">
                  <div class="panel panel-default" style="padding-top: 1px;padding-left:1px">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#commCatch" data-parent="#section2Fig-pannel" data-toggle="collapse">
                                  Commercial Catch
                              </a>
                          </h4>
                      </div>
                      <div id="commCatch" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="commCatchChart" class="echart-size">
      </div>
<p style="padding:20px">The comparison of the median Commercial catches during the projection period.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#fedCatch" data-parent="#section2Fig-pannel" data-toggle="collapse">
                                  For-hire Catch
                              </a>
                          </h4>
                      </div>
                      <div id="fedCatch" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="fedCatchChart" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the median For-hire catches during the projection period.</p>
       </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#privateCatch" data-parent="#section2Fig-pannel" data-toggle="collapse">
                                  Private Angling Catch
                              </a>
                          </h4>
                      </div>
                      <div id="privateCatch" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="privateCatchChart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median Private Angling catches during the projection period.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#ssbFirst" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Total SSB, Ave of First 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="ssbFirst" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="SSBGulfFirst_Chart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the average spawning stock biomass (SSB) in the first 5 years.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#ssbLast" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Total SSB, Ave of Last 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="ssbLast" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="SSBGulfLast_Chart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the average spawning stock biomass (SSB) in the last 5 years of the 20-year management period.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#barRotation" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Catches for Federal For-hire and Private Angling Sectors in the First and Last 5 Years
                              </a>
                          </h4>
                      </div>
                      <div id="barRotation" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="barRotationChart_1" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median catches for Federal For-hire and Private Angling Sectors in the first and last 5 years of the 20-year management period.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#stateCatchFirstPanel" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              State Private Angling Catch, Ave of First 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="stateCatchFirstPanel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="stateCatchFirst_Chart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median states’ Private Angling catches in the first 5 years.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#stateCatchLastPanel" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              State Private Angling Catch, Ave of Last 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="stateCatchLastPanel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="stateCatchLast_Chart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median states’ Private Angling catches in the last 5 years of the 20-year management period.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#stateSeasFirstPanel" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              State Private Angling Season Length, Ave of First 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="stateSeasFirstPanel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="stateSeasFirst_Chart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median states’ Private Angling season lengths in the first 5 years.</p>
<p style="padding:20px">Note: The season length is estimated based on the quota and the average catch rate in 2018.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#stateSeasLastPanel" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              State Private Angling Season Length, Ave of Last 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="stateSeasLastPanel" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="stateSeasLast_Chart" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the median states’ Private Angling season lengths in the last 5 years of the 20-year management period.</p>
      <p style="padding:20px">Note: The season length is estimated based on the quota and the average catch rate in 2018.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#catchFirst" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Total Catch, Ave of First 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="catchFirst" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="catchFirst_Chart" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the total catches in the first 5 years.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#catchLast" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Total Catch, Ave of Last 5-Year
                              </a>
                          </h4>
                      </div>
                      <div id="catchLast" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="catchLast_Chart" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the total catches in the last 5 years of the 20-year management period.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#commDiscards" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Commercial Discards
                              </a>
                          </h4>
                      </div>
                      <div id="commDiscards" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="commDiscardsChart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median Commercial discards during the projection period.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#recrDiscards" data-parent="#section2Fig-pannel" data-toggle="collapse">
                              Recreational Discards
                              </a>
                          </h4>
                      </div>
                      <div id="recrDiscards" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="recrDiscardsChart" class="echart-size">
                              </div>
      <p style="padding:20px">The comparison of the median Recreational discards during the projection period.</p>
                    </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

              </div>
          </div>
      </div>

      <div id="section3" class="row acc-wizard" style="margin-top: 50px;margin-bottom: 30px;">
          <div class="col-md-3" style="padding-left: 2em;">
              <p style="margin-bottom: 1em;">Section 3: Comparison between and within Sectors </p>
              <ol class="acc-wizard-sidebar">
                  <li class="acc-wizard-todo"><a href="#commRadar">Performance Measures within the Commercial Sector</a></li>
                  <li class="acc-wizard-todo"><a href="#recrRadar">Performance Measures within the Recreational Sector</a></li>
              </ol>
          </div>

          <div class="col-md-9" style="padding-right: 2em;padding-top:20px;">
              <div id="section3Fig-pannel" class="panel-group">
                  <div class="panel panel-default" style="padding-top: 1px;padding-left:1px">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#commRadar" data-parent="#section3Fig-pannel" data-toggle="collapse">
                                  Performance Measures within the Commercial Sector
                              </a>
                          </h4>
                      </div>
                      <div id="commRadar" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="commRadarChart" class="echart-size">
      </div>
<p style="padding:20px">The comparison of the performance measures within the Commercial Sector during the 20-Year Management.</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a href="#recrRadar" data-parent="#section3Fig-pannel" data-toggle="collapse">
                                  Performance Measures within the Recreational Sector
                              </a>
                          </h4>
                      </div>
                      <div id="recrRadar" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="recrRadarChart" class="echart-size">
                              </div>
<p style="padding:20px">The comparison of the performance measures within the Recreational Sector during the 20-Year Management</p>
                          </div>
                      </div>
                  </div> <!-- /.panel.panel-default -->

              </div>
          </div>
      </div>
  {% endblock %}

  {% block end_buttons %}
  <div style="margin:20px 0 0 20px">
    <div class="form-group form-inline" >
        <div class="col-md-2 col-sm-2 input-group" >
          <button id="btnReport" type="button" class="btn btn-primary">Generate Report</button>
        </div>
    </div>
  </div>

  <div class="well well-sm">
      <a href="{{url_for('ProcessCmpView.list')}}" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title="" data-original-title="Back">
          <i class="fa fa-arrow-left"></i>
      </a>
  </div>
  {% endblock %}

<div id="mask"></div>

{% endblock %}

{% block tail_js %}
	  {{super()}}
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static',filename='assets/node_modules/jquery-validation/dist/jquery.validate.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/echarts/dist/echarts.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/bootstrap-table.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jspdf/dist/jspdf.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/javascript/compare_charts.js')}}"></script>
    <script src="{{url_for('static',filename='assets/javascript/stgCompare.js')}}"></script>
{% endblock %}
